<ion-header>
  <ion-toolbar>
    <ion-title>
      Nuevo campo
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Salir</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
<h3>Tipo de campo: {{fieldType}}</h3>

<ion-item>
    <ion-label floating>Etiqueta</ion-label>
    <ion-input type="text" [(ngModel)]="formElementObject.label"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Clave única</ion-label>
    <ion-input type="text" [(ngModel)]="formElementObject.key"></ion-input>
</ion-item>


<ion-card *ngIf="fieldType == 'dropdown'"> 
    <ion-card-header>
        Opciones
    </ion-card-header>
     <ion-card-content>
    <div *ngFor="let option of elementOptions; let in=index" class="col-sm-3">
      <div class="form-group">
        <!--<ion-item>
          <ion-label floating>Clave única</ion-label>
          <ion-input type="text" [(ngModel)]="elementOptions[in].key"></ion-input>
      </ion-item>-->
        <ion-item>
          <ion-label floating>Valor Opción</ion-label>
          <ion-input type="text" [(ngModel)]="elementOptions[in].value"></ion-input>
        </ion-item>
      </div>
    </div>
     </ion-card-content>

    <button ion-button color="primary" block (click)="addOption()">Añadir opcion</button>
</ion-card>

<button ion-button color="primary" block (click)="addField()">Añadir campo</button>

</ion-content>
