<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis mapas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openMenu()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>

  
  <ion-list *ngIf="maps.length; else mapsEmptyContent">
    <ion-item  *ngFor="let map of maps" (click)="viewMap($event, map)">

      <ion-thumbnail item-start>
        <img src="assets/imgs/map-icon.png">
      </ion-thumbnail>
      <h2>{{map.name}}</h2>
      <p>{{map.description}}</p>

    </ion-item>
  </ion-list>

</ion-content>

<ng-template #mapsEmptyContent>
<ion-grid>
  <ion-row>
    <ion-col>
    <p>¡Todavía no has creado ningún mapa!</p>
    </ion-col>
    <ion-col>
    <button ion-button (click)="createNewMap()" block> Nuevo mapa</button>
  </ion-col>
  </ion-row>
</ion-grid>
   
</ng-template>


