
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{contextData.title}} Marcador</ion-title>
    <ion-buttons *ngIf="isEditingContext()" end>
      <button ion-button icon-only color="royal" (click)="openMenu()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding> 
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col>
                <ion-card-header>
                  Relevamiento asociado
                </ion-card-header>
                </ion-col>
                <ion-col>
                  <button ion-button icon-only (click)="openModalSelectSurvey()" small outline>
                  <ion-icon name="md-refresh" ></ion-icon>
                </button>
                </ion-col>
              </ion-row>
            </ion-grid>
              <ion-card-content>
                  <ion-list>
                    <ion-item >
                        Nombre
                        <ion-note item-end>
                          {{currentSurvey.name}}
                        </ion-note>
                    </ion-item>
                    <ion-item >
                        Autor
                        <ion-note item-end>
                          {{currentSurvey.author_name}}
                        </ion-note>
                    </ion-item>
                    <ion-item >
                        Fecha creación
                        <ion-note item-end>
                         {{ getFormattedDate(currentSurvey.creation_date) }}
                        </ion-note>
                    </ion-item>
                  </ion-list>
              </ion-card-content>
          </ion-card>
          <ion-card>
          <form (ngSubmit)="saveForm()">
            <ion-card-header>
              Atributos
            </ion-card-header>
            <ion-card-content>
                <app-dynamic-form [formEntity]="this.marker.survey.form"></app-dynamic-form>
              </ion-card-content>
          </form>
          </ion-card>

         <ion-card>
            <ion-card-header>
              Orientación
            </ion-card-header>
              <ion-card-content>
                        <ion-row> 
                          <ion-col>
                            <div><button ion-button block round [color]="savedOrientation ? 'secondary' : 'warning'" (click)="toogleOrientationSubsctription();" type="button">
                {{markerLocalAttributes.orientation | number:0 }}º
              </button></div>
                          </ion-col>
                        </ion-row>
              </ion-card-content>
          </ion-card>

         <ion-card>
            <ion-card-header>
              Imágenes
            </ion-card-header>

            <ion-card-content>
              <button ion-button [color]="imageMediaFiles.length ? 'secondary' : 'warning'" icon-right round block (click)="takePicture();" [disabled]="imageMediaFiles.length >= maxImagesNumber">
                Tomar Foto
                <ion-icon name="camera">

                </ion-icon>
              </button>
              <ion-list>
                <ion-card  *ngFor="let imgMediaFile of imageMediaFiles; let i = index">
                  <img src="{{getPathForMedia('image', imgMediaFile.path)}}" alt="" class="image_container" />
                  <ion-row>
                    <ion-col>
                    <button ion-button color="danger" clear small icon-start (click)="deleteMediaEntity(imgMediaFile, i)"><ion-icon name='trash'></ion-icon>
                      Eliminar
                    </button>
                  </ion-col>
                  </ion-row>
                </ion-card>
              </ion-list>
            </ion-card-content>
          </ion-card>
         
          <ion-card>
            <ion-card-header>
              Nota de voz
            </ion-card-header>

            <ion-card-content>
              <button ion-button [color]="audioMediaFiles.length ? 'secondary' : 'warning'" icon-right round block (click)="captureAudio();"  [disabled]="audioMediaFiles.length >= maxAudiosNumber">
                Grabar audio
                <ion-icon name="mic">

                </ion-icon>
              </button>

            <ion-list>
              <ion-card  *ngFor="let audioMediaFile of audioMediaFiles; let j = index">
                  <ion-item tappable text-wrap>
                    <ion-card-content (click)="play(audioMediaFile)" >
                      {{ audioMediaFile.path }}
                      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
                    </ion-card-content>
                      <ion-row>
                        <ion-col>
                          <button ion-button color="danger" clear small icon-start (click)="deleteMediaEntity(audioMediaFile, j)"><ion-icon name='trash'></ion-icon>
                              Eliminar
                          </button>
                        </ion-col>
                      </ion-row>
                  </ion-item>
              </ion-card>
            </ion-list>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              Metadatos
            </ion-card-header>
              <ion-card-content>
               <ion-item>
                <strong>Fecha</strong>    {{ getFormattedDate(marker.creation_date) }}
              </ion-item>
              <ion-item>
                <strong>Lat</strong>   {{marker.lat | number }}
              </ion-item>
              <ion-item>
                <strong>Lng</strong>   {{marker.lng | number }}
              </ion-item>
              </ion-card-content>
          </ion-card>
    

            <button ion-button type="submit" (click)="saveForm()" block>{{contextData.button_save_text}} datos</button>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>