
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuevo marcador</ion-title>
    <ion-buttons *ngIf="isEditingContext()" end>
      <button ion-button icon-only color="royal" (click)="openMenu()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding> 
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <form (ngSubmit)="saveForm()">
            <ion-card>
            <ion-card-header>
              Atributos
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Categoría</ion-label>
                <ion-select [(ngModel)]="markerLocalAttributes.category" name="category" interface="popover">
                  <ion-option value="category1">Categoría 1</ion-option>
                  <ion-option value="category2">Categoría 2</ion-option>
                  <ion-option value="category3">Categoría 3</ion-option>
                  <ion-option value="category4">Categoría 4</ion-option>
                  <ion-option value="category5">Categoría 5</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>Consenso</ion-label>
                <ion-select [(ngModel)]="markerLocalAttributes.data_consensus" name="data_consensus" interface="popover">
                  <ion-option value="1">Si</ion-option>
                  <ion-option value="0">No</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>Ubicación</ion-label>
                <ion-select [(ngModel)]="markerLocalAttributes.point_ubication" name="point_ubication" interface="popover">
                  <ion-option value="left">Izquierda</ion-option>
                  <ion-option value="right">Derecha</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>¿Altura más de 3mts?</ion-label>
                <ion-select [(ngModel)]="markerLocalAttributes.height_overpass" name="height_overpass" interface="popover">
                  <ion-option value="1">Si</ion-option>
                  <ion-option value="0">No</ion-option>
                  <ion-option value="-1">S/D</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>Cobertura</ion-label>
                <ion-select [(ngModel)]="markerLocalAttributes.coverage_percentage" name="coverage_percentage" interface="popover">
                  <ion-option value="0">Menos del 20%</ion-option>
                  <ion-option value="1">Entre 20% y 65%</ion-option>
                  <ion-option value="2">Mas del 65%</ion-option>
                  <ion-option value="-1">S/D</ion-option>
                </ion-select>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </form>

         <ion-card>
            <ion-card-header>
              Orientación
            </ion-card-header>
              <ion-card-content>
                        <ion-row> 
                          <ion-col>
                            <div><button ion-button block round [color]="savedOrientation ? 'secondary' : 'warning'" (click)="toogleOrientationSubsctription();" type="button">
                {{markerLocalAttributes.orientation | number:0 }}º
              </button></div>
                          </ion-col>
                        </ion-row>
              </ion-card-content>
          </ion-card>

         <ion-card>
            <ion-card-header>
              Imágenes
            </ion-card-header>

            <ion-card-content>
              <button ion-button [color]="imageMediaFiles.length ? 'secondary' : 'warning'" icon-right round block (click)="takePicture();" [disabled]="imageMediaFiles.length >= maxImagesNumber">
                Tomar Foto
                <ion-icon name="camera">

                </ion-icon>
              </button>
              <ion-list>
                <ion-card  *ngFor="let imgMediaFile of imageMediaFiles; let i = index">
                  <img src="{{getPathForMedia('image', imgMediaFile.path)}}" alt="" class="image_container" />
                  <ion-row>
                    <ion-col>
                    <button ion-button color="danger" clear small icon-start (click)="deleteMediaEntity(imgMediaFile, i)"><ion-icon name='trash'></ion-icon>
                      Eliminar
                    </button>
                  </ion-col>
                  </ion-row>
                </ion-card>
              </ion-list>
            </ion-card-content>
          </ion-card>
         
          <ion-card>
            <ion-card-header>
              Nota de voz
            </ion-card-header>

            <ion-card-content>
              <button ion-button [color]="audioMediaFiles.length ? 'secondary' : 'warning'" icon-right round block (click)="captureAudio();"  [disabled]="audioMediaFiles.length >= maxAudiosNumber">
                Grabar audio
                <ion-icon name="mic">

                </ion-icon>
              </button>

            <ion-list>
              <ion-card  *ngFor="let audioMediaFile of audioMediaFiles; let j = index">
                  <ion-item tappable text-wrap>
                    <ion-card-content (click)="play(audioMediaFile)" >
                      {{ audioMediaFile.path }}
                      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
                    </ion-card-content>
                      <ion-row>
                        <ion-col>
                          <button ion-button color="danger" clear small icon-start (click)="deleteMediaEntity(audioMediaFile, j)"><ion-icon name='trash'></ion-icon>
                              Eliminar
                          </button>
                        </ion-col>
                      </ion-row>
                  </ion-item>
              </ion-card>
            </ion-list>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              Metadatos
            </ion-card-header>
              <ion-card-content>
              <ion-item>
                <strong>Usuario</strong>   Agustin
              </ion-item>
               <ion-item>
                <strong>Fecha</strong>   26/01/2018
              </ion-item>
              <ion-item>
                <strong>Lat/Lng</strong>   {{marker.lat}},{{marker.lng}}
              </ion-item>
              </ion-card-content>
          </ion-card>
    

            <button ion-button type="submit" (click)="saveForm()" block>Guardar marcador</button>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>